html { overflow: hidden;}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(5deg);
  }
  25% {
    -webkit-transform: rotateZ(-5deg);
  }
  50% {
    -webkit-transform: rotateZ(5deg);
  }
  75% {
    -webkit-transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(5deg);
  }
}

@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotateZ(5deg);
  }
  25% {
    -moz-transform: rotateZ(-5deg);
  }
  50% {
    -moz-transform: rotateZ(5deg);
  }
  75% {
    -moz-transform: rotateZ(-5deg);
  }
  100% {
    -moz-transform: rotateZ(5deg);
  }
}

@-o-keyframes wiggle {
  0% {
    -o-transform: rotateZ(5deg);
  }
  25% {
    -o-transform: rotateZ(-5deg);
  }
  50% {
    -o-transform: rotateZ(5deg);
  }
  75% {
    -o-transform: rotateZ(-5deg);
  }
  100% {
    -o-transform: rotateZ(5deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

#taco {
  -webkit-animation: wiggle 0.6s ease infinite;
  -moz-animation: wiggle 0.6s ease infinite;
  -o-animation: wiggle 0.6s ease infinite;
  animation: wiggle 0.6s ease infinite;
  max-width: 500px;
  max-height: 500px;
  padding: 15px;
  margin: 60px auto 15px;
}

#tacotext {
  font-family: "Courier New", Courier, monospace;
  color: #FFF;
  font-size: 35px;
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  padding: 15px;
  margin: 15px auto 30px;
}

#addTaco {
  position: absolute;
  top: 0px;
  right: 25px;
	background-color: #fff;
	border-radius: 5px;
}

#addTaco a {
  cursor: pointer;
}

@-webkit-keyframes bg {
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: green;
  }
  75% {
    background: yellow;
  }
  100% {
    background: red;
  }
}

@keyframes bg {
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: green;
  }
  75% {
    background: yellow;
  }
  100% {
    background: red;
  }
}

body {
  background: red;
  -webkit-animation: bg 5s infinite;
  /* Chrome, Safari, Opera */
  animation: bg 5s infinite;
}


